# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/Catalogos/.vs/Jaeger.SAT.CFDI.Catalogos/FileContentIndex/058cc7a1-5aee-4539-840c-1ff8325c8767.vsidx
src/Catalogos/.vs/Jaeger.SAT.CFDI.Catalogos/FileContentIndex/3b8549cf-1ec8-448a-8b6c-a7746b3bf0f4.vsidx
src/Catalogos/.vs/Jaeger.SAT.CFDI.Catalogos/FileContentIndex/f3eab1b9-37b8-4d20-bbd9-90dbf5fc8941.vsidx
src/Catalogos/.vs/Jaeger.SAT.CFDI/v17/.suo
src/.vs/Jaeger.SAT.CFDI/v17/.suo
src/.vs/Jaeger.SAT.CFDI/FileContentIndex/2f6b3a05-dea4-4e67-a690-9b7ba1eb89bf.vsidx
src/Catalogos/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/Catalogos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Catalogos/obj/Debug/Jaeger.SAT.CFDI.Catalogos.csproj.AssemblyReference.cache
src/Scraping/bin/Debug/HtmlAgilityPack.xml
src/Scraping/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/Scraping/obj/Debug/DesignTimeResolveAssemblyReferences.cache
tester/packages/HtmlAgilityPack.1.11.60/.signature.p7s
tester/packages/HtmlAgilityPack.1.11.60/HtmlAgilityPack.1.11.60.nupkg
tester/packages/HtmlAgilityPack.1.11.60/lib/Net35/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/Net40-client/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/Net40/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/Net45/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/NetCore45/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard1.3/HtmlAgilityPack.deps.json
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard1.3/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard1.6/HtmlAgilityPack.deps.json
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard1.6/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard2.0/HtmlAgilityPack.deps.json
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard2.0/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/uap10.0/HtmlAgilityPack.pri
tester/packages/HtmlAgilityPack.1.11.60/lib/uap10.0/HtmlAgilityPack.XML
tester/.vs/SAT.Catalogos/v17/.suo
tester/.vs/SAT.Catalogos/FileContentIndex/96825f0d-f711-4015-83f5-654f7d54d22b.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/9f1699a8-9b73-4c50-a3e3-31b96cde0565.vsidx
tester/Tester/obj/Debug/Tester.csproj.AssemblyReference.cache
tester/Tester/obj/Debug/Tester.csproj.CopyComplete
tester/Tester/obj/Debug/Tester.csproj.CoreCompileInputs.cache
tester/Tester/obj/Debug/Tester.csproj.FileListAbsolute.txt
tester/Tester/obj/Debug/Tester.csproj.GenerateResource.cache
tester/Tester/obj/Debug/Tester.Form1.resources
tester/Tester/obj/Debug/Tester.Properties.Resources.resources
tester/Tester/bin/Debug/HtmlAgilityPack.xml
tester/Tester/bin/Debug/Pagina.html
tester/Tester/bin/Debug/Tester.exe.config
tester/.vs/SAT.Catalogos/FileContentIndex/550f0aa4-0d75-4d8d-b6f5-55cc250e1d17.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/196b23cc-9b06-493d-885f-8f076e69188c.vsidx
tester/Tester/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
tester/Tester/obj/Debug/DesignTimeResolveAssemblyReferences.cache
tester/Tester/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Scraping/obj/Debug/Jaeger.SAT.CFDI.Catalogos.Scraping.csproj.FileListAbsolute.txt
src/Scraping/obj/Debug/Jaeger.SAT.CFDI.Catalogos.Scraping.csproj.CoreCompileInputs.cache
src/Scraping/obj/Debug/Jaeger.SAT.CFDI.Catalogos.Scraping.csproj.CopyComplete
src/Scraping/obj/Debug/Jaeger.SAT.CFDI.Catalogos.Scraping.csproj.AssemblyReference.cache
src/Scraping/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Scraping/obj/Debug/Jaeger.SAT.Catalogos.Scraping.csproj.AssemblyReference.cache
src/Scraping/obj/Debug/Jaeger.SAT.Catalogos.Scraping.csproj.CopyComplete
src/Scraping/obj/Debug/Jaeger.SAT.Catalogos.Scraping.csproj.CoreCompileInputs.cache
src/Scraping/obj/Debug/Jaeger.SAT.Catalogos.Scraping.csproj.FileListAbsolute.txt
tester/.vs/SAT.Catalogos/FileContentIndex/444b7c60-afce-4691-9e3a-743eaa378e4f.vsidx
tester/Tester/.vs/Tester.csproj.dtbcache.json
tester/Tester/bin/Debug/SomeAnimals.xml
tester/.vs/SAT.Catalogos/FileContentIndex/8eea2c3a-49bb-4bbc-bc98-841a9aa64440.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/ae5d0de0-be4e-46fe-8c85-757af1674dd5.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/e19aa337-da27-4d7b-8fe5-024dea2af74c.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/f9536aed-4bd5-40bb-b1c6-f3e17a163c4e.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/47b72aa4-1d54-4fe8-b41a-084ac7837c15.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/5f0b92ef-1ea7-4c27-8e28-7aed675351a3.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/649896b9-fde3-468b-a7ff-83536bb9cb3a.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/aaf0c7b6-986f-4c38-a6bf-db9e91b48116.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/caf79cff-24d2-4b50-8c2d-a40b9dd5c9c7.vsidx
src/Scraping/.vs/Jaeger.SAT.Catalogos.Scraping.csproj.dtbcache.json
tester/.vs/SAT.Catalogos/FileContentIndex/0c36f94a-51d1-4361-b2fc-9a10368015d5.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/d7c45ed1-d99e-4f7b-9a32-33f6296d942a.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/d938fbf4-4515-4717-aa4e-02dc088f3091.vsidx
tester/Tester/obj/Debug/Tester.TestForm.resources
tester/Tester/obj/Debug/Tester.WaitWindowGUIForm.resources
tester/.vs/SAT.Catalogos/FileContentIndex/a8e9194b-31cf-4016-bea2-eeaab6b0dacd.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/06741126-a761-4c93-9b29-ed124855d64c.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/47d697c9-2486-4dcd-9c8d-84eca7a6de37.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/c36b2e40-16d9-4a7a-9320-5f902b74a24c.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/f1c8ee1f-5f54-436d-b133-b3c3e169f7df.vsidx
src/Catalogos/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/Catalogos/obj/Debug/Jaeger.SAT.Catalogos.csproj.AssemblyReference.cache
src/Catalogos/obj/Debug/Jaeger.SAT.Catalogos.csproj.CopyComplete
src/Catalogos/obj/Debug/Jaeger.SAT.Catalogos.csproj.CoreCompileInputs.cache
src/Catalogos/obj/Debug/Jaeger.SAT.Catalogos.csproj.FileListAbsolute.txt
tester/.vs/SAT.Catalogos/FileContentIndex/426eff5c-b19c-49d4-9931-1f8c69eda6cb.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/8e6ffe3c-7922-47c3-9db4-f6f3fec066b7.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/ba53fef3-1877-42ac-9a7d-11142035fcbd.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/e009d70d-d7ea-4056-8d68-e7cbae8bc9ca.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/f3d265c5-8fd3-42c8-ba07-e139a8db9351.vsidx
tester/.vs/SAT.Catalogos/v17/DocumentLayout.json
tester/packages/MiniExcel.1.31.3/.signature.p7s
tester/packages/MiniExcel.1.31.3/icon.png
tester/packages/MiniExcel.1.31.3/MiniExcel.1.31.3.nupkg
tester/.vs/SAT.Catalogos/FileContentIndex/08ca9296-f004-4e28-837e-9811fb0ae3c4.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/56769667-4f6f-490a-b73f-150c576db4bd.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/99f6c65f-7b8d-4e97-b6b0-dbf3ba6487a4.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/5ff5cae6-276a-4ef0-b0ad-68af702b3c11.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/684aaaae-a49a-4c2a-95b3-766dae2ee4da.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/ea81ff5d-d3a0-4dc4-b544-da0b0974ebe6.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/530236db-90e2-477e-9dc3-f26777fa9226.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/2e92559d-c9e0-49ce-9a96-21a892fb61af.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/2f396eac-c3a9-42f8-88e5-aaa1765545e6.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/5e207bd7-b44f-41ad-976e-93503dc28c5b.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/99a56435-c7b3-479d-9436-c37b76577363.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/d541f725-ebf6-42f7-8baf-3ca689b8ae24.vsidx
tester/packages/ExcelDataReader.3.6.0/.signature.p7s
tester/packages/ExcelDataReader.3.6.0/ExcelDataReader.3.6.0.nupkg
tester/packages/ExcelDataReader.3.6.0/lib/net20/ExcelDataReader.xml
tester/packages/ExcelDataReader.3.6.0/lib/net45/ExcelDataReader.xml
tester/packages/ExcelDataReader.3.6.0/lib/netstandard1.3/ExcelDataReader.xml
tester/packages/ExcelDataReader.3.6.0/lib/netstandard2.0/ExcelDataReader.xml
tester/packages/ExcelDataReader.DataSet.3.6.0/.signature.p7s
tester/packages/ExcelDataReader.DataSet.3.6.0/ExcelDataReader.DataSet.3.6.0.nupkg
tester/packages/ExcelDataReader.DataSet.3.6.0/lib/net20/ExcelDataReader.DataSet.xml
tester/packages/ExcelDataReader.DataSet.3.6.0/lib/net35/ExcelDataReader.DataSet.xml
tester/packages/ExcelDataReader.DataSet.3.6.0/lib/netstandard2.0/ExcelDataReader.DataSet.xml
tester/packages/Newtonsoft.Json.13.0.3/.signature.p7s
tester/packages/Newtonsoft.Json.13.0.3/lib/net20/Newtonsoft.Json.xml
tester/packages/Newtonsoft.Json.13.0.3/lib/net35/Newtonsoft.Json.xml
tester/packages/Newtonsoft.Json.13.0.3/lib/net40/Newtonsoft.Json.xml
tester/packages/Newtonsoft.Json.13.0.3/lib/net45/Newtonsoft.Json.xml
tester/packages/Newtonsoft.Json.13.0.3/lib/net6.0/Newtonsoft.Json.xml
tester/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
tester/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
tester/packages/Newtonsoft.Json.13.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
tester/packages/Newtonsoft.Json.13.0.3/LICENSE.md
tester/packages/Newtonsoft.Json.13.0.3/Newtonsoft.Json.13.0.3.nupkg
tester/packages/Newtonsoft.Json.13.0.3/packageIcon.png
tester/packages/Newtonsoft.Json.13.0.3/README.md
tester/Tester/bin/Debug/ExcelDataReader.DataSet.xml
tester/Tester/bin/Debug/ExcelDataReader.xml
tester/Tester/bin/Debug/Newtonsoft.Json.xml
src/Catalogos/bin/Debug/ExcelDataReader.DataSet.xml
src/Catalogos/bin/Debug/ExcelDataReader.xml
src/Catalogos/bin/Debug/Newtonsoft.Json.xml
tester/.vs/SAT.Catalogos/FileContentIndex/1a4af67e-6bd5-4da1-add8-be89d2f06e58.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/e305a14f-481f-4d1a-84f7-bcc3e7fb53b7.vsidx
