# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/Catalogos/.vs/Jaeger.SAT.CFDI.Catalogos/FileContentIndex/058cc7a1-5aee-4539-840c-1ff8325c8767.vsidx
src/Catalogos/.vs/Jaeger.SAT.CFDI.Catalogos/FileContentIndex/3b8549cf-1ec8-448a-8b6c-a7746b3bf0f4.vsidx
src/Catalogos/.vs/Jaeger.SAT.CFDI.Catalogos/FileContentIndex/f3eab1b9-37b8-4d20-bbd9-90dbf5fc8941.vsidx
src/Catalogos/.vs/Jaeger.SAT.CFDI/v17/.suo
src/.vs/Jaeger.SAT.CFDI/v17/.suo
src/.vs/Jaeger.SAT.CFDI/FileContentIndex/2f6b3a05-dea4-4e67-a690-9b7ba1eb89bf.vsidx
src/Catalogos/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/Catalogos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Catalogos/obj/Debug/Jaeger.SAT.CFDI.Catalogos.csproj.AssemblyReference.cache
src/Scraping/bin/Debug/HtmlAgilityPack.xml
src/Scraping/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/Scraping/obj/Debug/DesignTimeResolveAssemblyReferences.cache
tester/packages/HtmlAgilityPack.1.11.60/.signature.p7s
tester/packages/HtmlAgilityPack.1.11.60/HtmlAgilityPack.1.11.60.nupkg
tester/packages/HtmlAgilityPack.1.11.60/lib/Net35/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/Net40-client/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/Net40/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/Net45/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/NetCore45/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard1.3/HtmlAgilityPack.deps.json
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard1.3/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard1.6/HtmlAgilityPack.deps.json
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard1.6/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard2.0/HtmlAgilityPack.deps.json
tester/packages/HtmlAgilityPack.1.11.60/lib/netstandard2.0/HtmlAgilityPack.xml
tester/packages/HtmlAgilityPack.1.11.60/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.XML
tester/packages/HtmlAgilityPack.1.11.60/lib/uap10.0/HtmlAgilityPack.pri
tester/packages/HtmlAgilityPack.1.11.60/lib/uap10.0/HtmlAgilityPack.XML
tester/.vs/SAT.Catalogos/v17/.suo
tester/.vs/SAT.Catalogos/FileContentIndex/96825f0d-f711-4015-83f5-654f7d54d22b.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/9f1699a8-9b73-4c50-a3e3-31b96cde0565.vsidx
tester/Tester/obj/Debug/Tester.csproj.AssemblyReference.cache
tester/Tester/obj/Debug/Tester.csproj.CopyComplete
tester/Tester/obj/Debug/Tester.csproj.CoreCompileInputs.cache
tester/Tester/obj/Debug/Tester.csproj.FileListAbsolute.txt
tester/Tester/obj/Debug/Tester.csproj.GenerateResource.cache
tester/Tester/obj/Debug/Tester.Form1.resources
tester/Tester/obj/Debug/Tester.Properties.Resources.resources
tester/Tester/bin/Debug/HtmlAgilityPack.xml
tester/Tester/bin/Debug/Pagina.html
tester/Tester/bin/Debug/Tester.exe.config
tester/.vs/SAT.Catalogos/FileContentIndex/550f0aa4-0d75-4d8d-b6f5-55cc250e1d17.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/196b23cc-9b06-493d-885f-8f076e69188c.vsidx
tester/Tester/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
tester/Tester/obj/Debug/DesignTimeResolveAssemblyReferences.cache
tester/Tester/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Scraping/obj/Debug/Jaeger.SAT.CFDI.Catalogos.Scraping.csproj.FileListAbsolute.txt
src/Scraping/obj/Debug/Jaeger.SAT.CFDI.Catalogos.Scraping.csproj.CoreCompileInputs.cache
src/Scraping/obj/Debug/Jaeger.SAT.CFDI.Catalogos.Scraping.csproj.CopyComplete
src/Scraping/obj/Debug/Jaeger.SAT.CFDI.Catalogos.Scraping.csproj.AssemblyReference.cache
src/Scraping/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Scraping/obj/Debug/Jaeger.SAT.Catalogos.Scraping.csproj.AssemblyReference.cache
src/Scraping/obj/Debug/Jaeger.SAT.Catalogos.Scraping.csproj.CopyComplete
src/Scraping/obj/Debug/Jaeger.SAT.Catalogos.Scraping.csproj.CoreCompileInputs.cache
src/Scraping/obj/Debug/Jaeger.SAT.Catalogos.Scraping.csproj.FileListAbsolute.txt
tester/.vs/SAT.Catalogos/FileContentIndex/444b7c60-afce-4691-9e3a-743eaa378e4f.vsidx
tester/Tester/.vs/Tester.csproj.dtbcache.json
tester/Tester/bin/Debug/SomeAnimals.xml
tester/.vs/SAT.Catalogos/FileContentIndex/8eea2c3a-49bb-4bbc-bc98-841a9aa64440.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/ae5d0de0-be4e-46fe-8c85-757af1674dd5.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/e19aa337-da27-4d7b-8fe5-024dea2af74c.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/f9536aed-4bd5-40bb-b1c6-f3e17a163c4e.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/47b72aa4-1d54-4fe8-b41a-084ac7837c15.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/5f0b92ef-1ea7-4c27-8e28-7aed675351a3.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/649896b9-fde3-468b-a7ff-83536bb9cb3a.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/aaf0c7b6-986f-4c38-a6bf-db9e91b48116.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/caf79cff-24d2-4b50-8c2d-a40b9dd5c9c7.vsidx
src/Scraping/.vs/Jaeger.SAT.Catalogos.Scraping.csproj.dtbcache.json
tester/.vs/SAT.Catalogos/FileContentIndex/0c36f94a-51d1-4361-b2fc-9a10368015d5.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/d7c45ed1-d99e-4f7b-9a32-33f6296d942a.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/d938fbf4-4515-4717-aa4e-02dc088f3091.vsidx
tester/Tester/obj/Debug/Tester.TestForm.resources
tester/Tester/obj/Debug/Tester.WaitWindowGUIForm.resources
tester/.vs/SAT.Catalogos/FileContentIndex/a8e9194b-31cf-4016-bea2-eeaab6b0dacd.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/06741126-a761-4c93-9b29-ed124855d64c.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/47d697c9-2486-4dcd-9c8d-84eca7a6de37.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/c36b2e40-16d9-4a7a-9320-5f902b74a24c.vsidx
tester/.vs/SAT.Catalogos/FileContentIndex/f1c8ee1f-5f54-436d-b133-b3c3e169f7df.vsidx
